{% extends "FactelBundle::Layout.html.twig" %}
{% block css %}
<!-- DataTables CSS -->
<link href="{{asset('recursos/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css')}}" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="{{asset('recursos/bower_components/datatables-responsive/css/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}
{% block panel_title %}
<i class="fa fa-bar-chart-o fa-fw"></i> Puntos de Emisi&oacute;n
<div class="pull-right">
    <a href="{{ path('ptoemision_new') }}">
        <button class="btn btn-primary link-boton">
            <i class="fa fa-plus-circle"></i>
            Nuevo
        </button>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="dataTable_wrapper table-responsive col-lg-12">  
    <table class="table table-striped table-bordered table-hover" id="data-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codigo</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Emisor</th>
                {% endif %}
                <th>Establecimiento</th>
                <th>Asignado a</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ptoemision_show', { 'id': entity[0].id }) }}">{{ entity[0].nombre }}</a></td>
                <td>{{ entity[0].codigo }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ entity.razonSocial }}</td>
                {% endif %}
                <td>{{ entity.nombre }}</td>
                <td>
                    {% set usuario =entity[0].usuario  %}
                    {% if usuario != null %} {{usuario.getNombreCompleto()}} {%else%} NO ASIGNADO {%endif %}
                </td>
                <td>{%if entity[0].activo %}<button disabled="disabled" class="btn btn-success link-boton">Activo</button>{%else%}<button disabled="disabled" class="btn btn-danger link-boton">Inactivo</button>{% endif%}</td>
                <td>
                    <a href="{{ path('ptoemision_edit', { 'id': entity[0].id }) }}" title="Editar">
                        <button class="btn btn-primary link-boton">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </a>
                    <button class="btn btn-danger link-boton accion" data-toggle="modal" data-target="#confirm-delete" type="button" accion = "{{entity[0].id}}">
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                    </button>
                     {{ form(deleteForms[entity[0].id], { 'attr': {'id': entity[0].id } })}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block javascript %}
<script src="{{asset('recursos/bower_components/datatables/media/js/jquery.dataTables.min.js')}}"></script>
<script src="{{asset('recursos/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')}}"></script>
<script src="{{asset('recursos/js/script.js')}}"></script>
    {% endblock %}