{% extends "FactelBundle::Layout.html.twig" %}
{% set secuencial = entity.secuencial %}
{% block panel_title %}

    <i class="fa fa-bar-chart-o fa-fw"></i>Retenci&oacute;n <strong>Nro: {{entity.establecimiento.codigo}}-{{entity.ptoEmision.codigo}}-{{secuencial}}</strong>
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-info btn-xs dropdown-toggle"
                    type="button" data-toggle="dropdown">
                <i class="fa fa-list"></i>
                Acciones <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="" onclick="document.getElementById('submit').click();
                        return false;"><i class="fa fa-floppy-o"></i> Guardar</a></li>
                <li><a href="{{ path('retencion') }}"><i class="fa fa-undo"></i> Cancelar</a></li>
            </ul>
        </div>

    </div>
{% endblock %}
{% block content %}
    <div class="modal fade" id="search-client" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Seleccione el Sujeto Retenido</h4>
                </div>

                <div class="modal-body">
                    <div class="dataTable_wrapper table-responsive">  
                        <table class="table table-bordered table-hover " id="client-table">
                            <thead>
                                <tr>
                                    <th style="width: 10%" >ID</th>
                                    <th style="width: 10%" >Tipo Identificacion</th>
                                    <th style="width: 30%" >Identificaci&oacute;n</th>
                                    <th>Raz&oacute;n Social</th>
                                    <th>Celular</th>
                                    <th>Email</th>
                                    <th>Direccion</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('FactelBundle:Retencion:codigoRetencion.html.twig') }}
    <form method="POST" action="{{path('retencion_create')}}" id="formRetencion">
        <input type="text" id="idRetencion" value="{{entity.id}}" class="form-control hidden" name="idRetencion">
        <div class="container-fluid factura">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="col-sm-12 alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4><strong>Ha ocurrido un error al crear la factura!</strong></h4>
                    <p>{{ flashMessage }}</p>
                </div>
            {% endfor %}
            {% if entity.mensajes | length >0  and entity.estado != "AUTORIZADO" %}
                <div class="col-sm-12 alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h5><strong>Errores ocurrido durante el proceso de envio al SRI!</strong></h5>
                    {% for item in entity.mensajes %}
                        <p>{{item.mensaje}}</p>
                        <p>{{item.informacionAdicional}}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <fieldset class="border col-sm-12">
                <legend class="border">Emisor</legend>
                <div class="control-group" id="emisor">
                    <div class="col-sm-12"><p class="text-center"><strong>Ruc:</strong> {{entity.emisor.ruc}}</p></div>
                    <div class="col-sm-12 col-md-6"><strong>Raz&oacute;n Social:</strong> {{entity.emisor.razonSocial}}</div>
                    <div class="col-sm-12 col-md-6"><strong>Nombre Comercial:</strong> {%if entity.establecimiento.nombreComercial%}{{entity.establecimiento.nombreComercial}}{%else%}{{entity.emisor.nombreComercial}}{%endif%}</div>
                    <div class="col-sm-12 col-md-6"><strong>Contribuyente Especial:</strong> {{entity.emisor.contribuyenteEspecial}}</div>
                    <div class="col-sm-12 col-md-6"><strong>Obligado Contabilidad:</strong> {{entity.emisor.obligadoContabilidad}}</div>
                    <div class="col-sm-12 col-md-6"><strong>Direcci&oacute;n Matriz:</strong> {{entity.emisor.direccionMatriz}}</div>
                    <div class="col-sm-12 col-md-6"><strong>Direcci&oacute;n Establecimiento:</strong> {{entity.establecimiento.direccion}}</div>
                </div>
            </fieldset>

            <fieldset class="border  col-sm-12 ">
                <legend class="border">Comprobante</legend>
                <div class="control-group" id="comprobante">
                    <div class="col-sm-6 col-lg-3"><strong>Ambiente:</strong> {% if entity.emisor.ambiente == 1%} Pruebas {% else %} Producci&oacute;n {% endif %}</div>
                    <div class="col-lg-4"><strong>Tipo Emisi&oacute;n:</strong> {% if entity.emisor.tipoEmision == 1%} Emisi&oacute;n Normal {% else %} Emisi&oacute;n por Indisponibilidad del Sistema {% endif %}</div>
                    <div class="col-sm-12 col-lg-5"><strong>Fecha Emisi&oacute;n: *</strong> <input type="text" value="{{entity.fechaEmision |date('d/m/Y')}}" id="fecha" size="8" name="fechaEmision" required="required" onchange="CrearClaveAcceso()"/> </div>
                    <div class="col-sm-12 col-lg-5"><strong>Periodo Fiscal (mm/yyyy): *</strong> <input type="text" value = "{{ entity.periodoFiscal }}" id="periodoFiscal" size="8" name="periodoFiscal" required="required"/> </div>
                    <div class="col-sm-12"><p class="text-center"><strong>Clave Acceso</strong></p></div>
                    <div class="col-sm-12 claveAcceso"><p class="text-center" id="claveAcceso"></p></div>
                </div>
            </fieldset>
            {% set datos = entity.emisor.ruc ~ ',' ~ entity.emisor.ambiente ~ ',' ~ entity.emisor.tipoEmision ~ ',' ~ entity.establecimiento.codigo~ ','~ entity.ptoEmision.codigo ~',' ~ secuencial ~',' ~ "07"%}
            <input id="datos" type="hidden" value="{{datos}}" />
            <input type="hidden" name="secuencial" value="{{secuencial}}" />
            <fieldset class="border col-sm-12">

                <legend class="border">Sujeto Retenido</legend>

                <div class="form-group">
                    <div class="checkbox col-sm-6 ">
                        <label>
                            <input type="checkbox" value=false id="nuevoCliente" name = "nuevoCliente">
                            <strong>Nuevo Sujeto Retenido</strong>
                        </label>
                    </div>

                    <div class="col-sm-6 text-right">
                        <button class="btn btn-info link-boton accion" data-toggle="modal" data-target="#search-client" type="button">
                            <i class="glyphicon glyphicon-search icon-white">Buscar</i>
                        </button>

                    </div>
                    <input type="text" id="idCliente" value="{{entity.cliente.id}}" class="form-control hidden" name="idCliente">
                    <div class="col-md-5">
                        <label class="control-label">Nombre</label>
                        <input type="text" value="{{entity.cliente.nombre}}" id="nombre"  class="form-control" name="nombre" required="required">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Celular</label>
                        <input type="text" value="{{entity.cliente.celular}}" id="celular" class="form-control" name="celular" >
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Email </label>
                        <input type="email" value="{{entity.cliente.correoElectronico}}" id="email" class="form-control" name="email" >
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Tipo Identificaci&oacute;n *</label>
                        <select class="form-control" id="tipoIdentificacion" name="tipoIdentificacion" required="required">
                            <option value="04" {%if entity.cliente.tipoIdentificacion =="04"%} selected {%endif%}>RUC</option>
                            <option value="05" {%if entity.cliente.tipoIdentificacion =="05"%} selected {%endif%}>CEDULA</option>
                            <option value="06" {%if entity.cliente.tipoIdentificacion =="06"%} selected {%endif%}>PASAPORTE</option>
                            <option value="07" {%if entity.cliente.tipoIdentificacion =="07"%} selected {%endif%}>CONSUMIDOR FINAL</option>
                            <option value="08" {%if entity.cliente.tipoIdentificacion =="08"%} selected {%endif%}>EXTERIOR</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Identificaci&oacute;n *</label>
                        <input type="text" value="{{entity.cliente.identificacion}}" id="identificacion"  class="form-control" name="identificacion" required="required" > 
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Direcci&oacute;n</label>
                        <input type="text" value="{{entity.cliente.direccion}}" id="direccion" class="form-control" name="direccion" >
                    </div>
                </div>
            </fieldset>
            <div class="col-sm-12 alert alert-success">
                Si desea informacion sobre los codigos de retenciones a usar, descargar  <a href="{{path('retencion_help')}}">Ayuda Codigos Retenciones</a> 
            </div>
            <legend class="border">Detalle Comprobante Retenci&oacute;n</legend>
            <div class="col-sm-12 text-right">
                <button class="btn btn-info link-boton accion" id="nuevoDetalle" type="button">
                    <i class="glyphicon glyphicon-plus-sign icon-white"> Nuevo</i>
                </button>
            </div>

            <div class="dataTable_wrapper table-responsive col-lg-12">  
                <table class="table table-striped table-bordered table-hover" id="detalles">
                    <thead>
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Cod. Reten</th>
                            <th>%</th>
                            <th>Base Imp.</th>
                            <th>Total</th>
                            <th>Documento No.</th>
                            <th>Tipo Doc</th>
                            <th>Fecha Doc</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = 1 %}
                        {% for item in entity.impuestos %}
                            <tr>
                                <td>
                                    <select name = 'tipoImpuesto[{{count}}]'>
                                        <option value = '1' {%if item.codigo =="1"%} selected {%endif%}> Renta</option>
                                        <option value = '2'{%if item.codigo =="2"%} selected  {%endif%}> IVA</option>
                                        <option value = '6'{%if item.codigo =="6"%} selected  {%endif%}> ISD</option>
                                    </select>
                                </td>
                                <td>
                                    <input size = '6' type = 'text' value="{{item.codigoRetencion}}" readonly name = 'codRetencion[{{count}}]' class = 'valor' id = 'codRetencion{{count}}' required='required'/>
                                    <button type='button' data-toggle='modal' data-target='#codigo-retencion' onclick = 'seleccionarFilaCodigoRetencion({{count}})'><i class='glyphicon glyphicon-search icon-white'></i></button>
                                </td>
                                <td>
                                    <input size = '4' type = 'text' value="{{item.porcentajeRetener}}" readonly name = 'porcentaje[{{count}}]' class = 'valor' id = 'porcentaje{{count}}' onchange = 'calcularaValorTotal({{count}})' required='required'/>
                                </td>
                                <td>
                                    <input size = '6' type = 'text' value="{{item.baseImponible}}"  name = 'baseImponible[{{count}}]' class = 'valor' id = 'baseImponible{{count}}' onchange = 'calcularaValorTotal({{count}})' required='required'/>
                                </td>
                                <td>
                                    <input size = '6' type = 'text' value="{{item.valorRetenido}}" readonly name = 'total[{{count}}]' class = 'valor' id = 'total{{count}}'  required='required'/>
                                </td>
                                <td>
                                    <input type = 'text' value="{{item.numDocSustento}}" name = 'documento[{{count}}]' class = 'valor' id = 'documento{{count}}' required='required'/>
                                </td>
                                <td>
                                    <select name = 'tipoDoc[{{count}}]' >
                                        <option value = '01' {%if item.codDocSustento =="01"%} selected {%endif%}> Factura</option>
                                        <option value = '05' {%if item.codDocSustento =="05"%} selected {%endif%}> Nota Debito</option>
                                        <option value = '03' {%if item.codDocSustento =="03"%} selected {%endif%}> Liq. Compra</option>
                                    </select>
                                </td>
                                <td>
                                    <input size = '8' value="{{item.fechaEmisionDocSustento |date('d/m/Y') }}" type = 'text' name = 'fecha[{{count}}]' class = 'valor' id = 'fecha{{count}}' required='required'/>
                                </td>
                                <td> 
                                    <button class='btn btn-danger link-boton accion'  type='button' onclick = 'eliminarFila(this)'>
                                        <i class='glyphicon glyphicon-trash icon-white'></i></button>
                                </td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div> 

            <button id="submit" class="hidden" type="submit">  
            </button>
    </form>


{% endblock %}

{% block javascript %}
    <script src="{{asset('recursos/bower_components/datatables/media/js/jquery.dataTables.js')}}"></script>
    <script src="{{asset('recursos/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('recursos/js/script.js')}}"></script>

    <script>
                                        var filaCodigoRetencion = null;
                                        var oTableCodigo = $("#codigo-retencion-table").dataTable({
                                            responsive: true,
                                            bAutoWidth: false,
                                            bSort: false,
                                            asStripeClasses: [],
                                            aLengthMenu: [[8, 20, 30], [8, 20, 30]],
                                            language: {
                                                sProcessing: "Procesando...",
                                                sLengthMenu: "Mostrar _MENU_",
                                                sZeroRecords: "No se encontraron resultados",
                                                sEmptyTable: "Ningún dato disponible en esta tabla",
                                                sInfo: "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                                                sInfoEmpty: "Mostrando del 0 al 0 de un total de 0 registros",
                                                sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                                                sInfoPostFix: "",
                                                sSearch: "Buscar:",
                                                sUrl: "",
                                                sInfoThousands: ",",
                                                sLoadingRecords: "Cargando...",
                                                oPaginate: {
                                                    sFirst: "Primero",
                                                    sLast: "Último",
                                                    sNext: "Siguiente",
                                                    sPrevious: "Anterior"
                                                },
                                                oAria: {
                                                    sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                                                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                                                },
                                            },
                                        });

                                        $('#codigo-retencion-table tbody').on('click', 'tr', function () {
                                            $("#codRetencion" + filaCodigoRetencion).val($(this).find(".codigo").html());
                                            $("#porcentaje" + filaCodigoRetencion).val(parseFloat($(this).find(".porcentaje").html()));

                                            $('#codigo-retencion').modal('toggle');
                                            calcularaValorTotal(filaCodigoRetencion);

                                        });

                                        var count = 0;
                                        var oTable = $("#client-table").dataTable({
                                            responsive: true,
                                            bAutoWidth: false,
                                            sAjaxSource: "{{ path('all_client')}}",
                                            bProcessing: true,
                                            bServerSide: true,
                                            bSort: false,
                                            asStripeClasses: [],
                                            aLengthMenu: [[5, 10, 15], [5, 10, 15]],
                                            aoColumns: [{"bVisible": false}, {"bVisible": false}, null, null, {"bVisible": false}, {"bVisible": false}, {"bVisible": false}],
                                            language: {
                                                sProcessing: "Procesando...",
                                                sLengthMenu: "Mostrar _MENU_",
                                                sZeroRecords: "No se encontraron resultados",
                                                sEmptyTable: "Ningún dato disponible en esta tabla",
                                                sInfo: "Mostrando del _START_ al _END_ de _TOTAL_ registros",
                                                sInfoEmpty: "Mostrando del 0 al 0 de un total de 0 registros",
                                                sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                                                sInfoPostFix: "",
                                                sSearch: "Buscar:",
                                                sUrl: "",
                                                sInfoThousands: ",",
                                                sLoadingRecords: "Cargando...",
                                                oPaginate: {
                                                    sFirst: "Primero",
                                                    sLast: "Último",
                                                    sNext: "Siguiente",
                                                    sPrevious: "Anterior"
                                                },
                                                oAria: {
                                                    sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                                                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                                                },
                                            },
                                        });
                                        $('#client-table_filter input').unbind();
                                        $('#client-table_filter input').bind('keyup', function (e) {
                                            if (e.keyCode == 13) {
                                                oTable.fnFilter($(this).val());
                                            }
                                        });
                                        $('#client-table tbody').on('click', 'tr', function () {
                                            var aData = oTable.fnGetData(this); // get datarow
                                            if (null != aData)  // null if we clicked on title row
                                            {
                                                $("#idCliente").val(aData[0]);
                                                $("#tipoIdentificacion").val(aData[1]);
                                                $("#identificacion").val(aData[2]);
                                                $("#nombre").val(aData[3]);
                                                $("#celular").val(aData[4]);
                                                $("#email").val(aData[5]);
                                                $("#direccion").val(aData[6]);
                                                $('#search-client').modal('toggle');
                                                $('#nuevoCliente').prop('checked', false);
                                                $('#nuevoCliente').val(false);
                                            }
                                        });

                                        $('#nuevoCliente').click(function () {
                                            $("#idCliente").val("");
                                            $("#tipoIdentificacion").val("");
                                            $("#identificacion").val("");
                                            $("#nombre").val("");
                                            $("#celular").val("");
                                            $("#email").val("");
                                            $("#direccion").val("");
                                            $('#nuevoCliente').prop('checked', true);
                                            $('#nuevoCliente').val(true);
                                        });

                                        $("form").keypress(function (e) {
                                            if (e.which == 13) {
                                                return false;
                                            }
                                        });
                                        $("#formRetencion").validate({
                                            errorClass: "my-error-class",
                                            validClass: "my-valid-class",
                                            rules: {
                                                nombre: {
                                                    required: true,
                                                },
                                                email: {
                                                    email: true,
                                                },
                                                tipoIdentificacion: {
                                                    required: true,
                                                },
                                                identificacion: {
                                                    required: true,
                                                },
                                            }

                                        });

                                        $('#nuevoCliente').prop('checked', false);

                                        count = $('#detalles > tbody:last tr').length;
                                        $("#nuevoDetalle").click(function () {
                                            count = count + 1;

                                            $('#detalles > tbody:last').append("<tr><td><select name = 'tipoImpuesto[" + count + "]'><option value = '1'> Renta</option><option value = '2'> IVA</option><option value = '6'> ISD</option></select></td>"
                                                    + "<td><input size = '6' type = 'text' readonly name = 'codRetencion[" + count + "]' class = 'valor' id = 'codRetencion" + count + "' required='required'/><button type='button' data-toggle='modal' data-target='#codigo-retencion' onclick = 'seleccionarFilaCodigoRetencion(" + count + ")'><i class='glyphicon glyphicon-search icon-white'></i></button></td>"
                                                    + "<td><input size = '4' type = 'text' readonly name = 'porcentaje[" + count + "]' class = 'valor' id = 'porcentaje" + count + "' onchange = 'calcularaValorTotal(" + count + ")' required='required'/></td>"
                                                    + "<td><input size = '6' type = 'text' name = 'baseImponible[" + count + "]' class = 'valor' id = 'baseImponible" + count + "' onchange = 'calcularaValorTotal(" + count + ")' required='required'/></td>"
                                                    + "<td><input size = '6' type = 'text' readonly name = 'total[" + count + "]' class = 'valor' id = 'total" + count + "'  required='required'/></td>"
                                                    + "<td><input type = 'text' name = 'documento[" + count + "]' class = 'valor' id = 'documento" + count + "' required='required'/></td>"
                                                    + "<td><select name = 'tipoDoc[" + count + "]'><option value = '01'> Factura</option><option value = '05'> Nota Debito</option><option value = '03'> Liq. Compra</option></select></td>"
                                                    + "<td><input size = '8' type = 'text' name = 'fecha[" + count + "]' class = 'valor' id = 'fecha" + count + "' required='required'/></td>"
                                                    + "<td> <button class='btn btn-danger link-boton accion'  type='button' onclick = 'eliminarFila(this)'>"
                                                    + "<i class='glyphicon glyphicon-trash icon-white'></i></button></td></tr>");

                                            $('#fecha' + count).datepicker({
                                                showButtonPanel: true,
                                                dateFormat: "dd/mm/yy",
                                                beforeShow: function () {
                                                    $(".ui-datepicker").css('font-size', 12)
                                                }
                                            });

                                            $('#codRetencion' + count).rules("add", {
                                                required: true,
                                            });
                                            $('#baseImponible' + count).rules("add", {
                                                required: true,
                                                number: true,
                                            });
                                            $('#porcentaje' + count).rules("add", {
                                                number: true,
                                            });
                                            $('#total' + count).rules("add", {
                                                required: true,
                                                number: true,
                                            });
                                            $('#documento' + count).rules("add", {
                                                required: true,
                                                digits: true,
                                            });
                                            $('#fecha' + count).rules("add", {
                                                required: true,
                                            });

                                        });

                                        function eliminarFila(e) {
                                            $(e).parent().parent().remove();
                                        }
                                        function calcularaValorTotal(id) {
                                            var baseImponible = parseFloat($("#baseImponible" + id).val());
                                            var porcentaje = parseFloat($("#porcentaje" + id).val());
                                            if (!isNaN(baseImponible) && !isNaN(porcentaje)) {
                                                var total = parseFloat(baseImponible * porcentaje / 100);
                                                $("#total" + id).val(total.toFixed(2));
                                            }


                                        }
                                        function seleccionarFilaCodigoRetencion(count) {
                                            filaCodigoRetencion = count;
                                        }
    </script>
{% endblock %}
