{% extends "FactelBundle::Layout.html.twig" %}
{% block panel_title %}
<i class="fa fa-bar-chart-o fa-fw"></i> {{entity.nombre}}
<div class="pull-right">
    <div class="btn-group">
        <button class="btn btn-info btn-xs dropdown-toggle"
                type="button" data-toggle="dropdown">
            <i class="fa fa-list"></i>
            Acciones <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="" onclick="document.getElementById('submit').click();return false;"><i class="fa fa-floppy-o"></i> Guardar</a></li>
            <li><a href="{{ path('establecimiento_new') }}"><i class="fa fa-plus-circle"></i> Nuevo</a></li>
            <li><a href="{{ path('establecimiento') }}"><i class="fa fa-undo"></i> Cancelar</a></li>
            <li class="divider"></li>
            <li><a class="accion" href="" data-toggle="modal" data-target="#confirm-delete" type="button" accion = "delete"><i class="glyphicon glyphicon-trash icon-white"></i> Eliminar</a></li>
        </ul>
    </div>

</div>
{% endblock %}
{% block content %}

{{ form_start(edit_form) }}
   {{ form_widget(edit_form) }}

<button class="hidden" id="submit" type="submit"></button>
{{ form_end(edit_form) }}
{{ form(delete_form) }}

{% endblock %}
