{% extends "FactelBundle::Layout.html.twig" %}
{% block css %}
<!-- DataTables CSS -->
<link href="{{asset('recursos/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css')}}" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="{{asset('recursos/bower_components/datatables-responsive/css/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}
{% block panel_title %}
<i class="fa fa-bar-chart-o fa-fw"></i> Roles
<div class="pull-right">
    <a href="{{ path('rol_new') }}">
        <button class="btn btn-primary link-boton">
            <i class="fa fa-plus-circle"></i>
            Nuevo
        </button>
    </a>
</div>
{% endblock %}
    
{% block content %}
<div class="dataTable_wrapper table-responsive col-lg-12">  
    <table class="table table-striped table-bordered table-hover" id="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('rol_edit', { 'id': entity.id }) }}" title="Editar">
                        <button class="btn btn-primary link-boton">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </a>

                    <button class="btn btn-danger link-boton accion" data-toggle="modal" data-target="#confirm-delete" type="button" accion = "{{entity.id}}">
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                    </button>
                     {{ form(deleteForms[entity.id], { 'attr': {'id': entity.id } })}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
