{% extends "FactelBundle::Layout.html.twig" %}
{% block panel_title %}

    <i class="fa fa-bar-chart-o fa-fw"></i>Factura <strong>Nro: {{entity.establecimiento.codigo}}-{{entity.ptoEmision.codigo}}-{{entity.secuencial}}</strong>
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-info btn-xs dropdown-toggle"
                    type="button" data-toggle="dropdown">
                <i class="fa fa-list"></i>
                Acciones <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="{{ path('factura_new') }}"><i class="fa fa-plus-circle"></i> Nueva</a></li>
                    {% if entity.estado == 'CREADA' or entity.estado == 'DEVUELTA' or entity.estado == 'NO AUTORIZADO' or entity.estado == 'PROCESANDOSE'%}
                    <li><a href="{{ path('factura_edit',{ 'id': entity.id }) }}"><i class="fa fa-pencil-square-o"></i> Editar</a></li>

                    {% endif %}

                <li><a href="{{ path('factura') }}"><i class="fa fa-list"></i> Facturas</a></li>
                <li class="divider"></li>
                    {% if entity.estado != 'AUTORIZADO' and entity.estado != 'ANULADA'%}
                    <li><a href="javascript:window.open('{{asset('pdf/documentos/ticket.php')}}?id_ticket={{entity.id}}','popup','width=1024px,height=720px')"><i class="glyphicon glyphicon-print"></i> Imprimir Ticket</a></li>
                    <li><a href="{{ path('factura_procesar',{ 'id': entity.id }) }}"><i class="fa fa-paper-plane"></i> Enviar SRI</a></li>
                    {% endif %}
                    {% if entity.estado == 'AUTORIZADO'%}
                    <li><a href="javascript:window.open('{{asset('pdf/documentos/ticket.php')}}?id_ticket={{entity.id}}','popup','width=1024px,height=720px')"><i class="glyphicon glyphicon-print"></i> Imprimir Ticket</a></li>
               <li><a href="javascript:window.open('{{asset('pdf/documentos/factura_electronica.php')}}?id_factura={{entity.id}}','popup','width=1024px,height=720px')"><i class="glyphicon glyphicon-print"></i> Imprimir Fac</a></li>

                    <li><a href="{{ path('factura_descargar',{ 'id': entity.id , 'type': "pdf"}) }}"><i class="fa fa-file-pdf-o"></i> Descargar PDF</a></li>
                    <li><a href="{{ path('factura_descargar',{ 'id': entity.id , 'type': "zip"}) }}"><i class="fa fa-file-archive-o"></i> Descargar PDF y XML</a></li>

                    <li><a href="#send-email" data-toggle="modal"><i class="fa fa-send"></i> Reenviar Email</a></li>
                    {% endif %}
                <li><a href="{{ path('factura_clonar',{ 'id': entity.id }) }}"><i class="fa fa-copy"></i> Duplicar Factura</a></li>
                    {% if entity.estado != 'ANULADA'%}
                    <li class="divider"></li>
                    <li><a href="{{ path('factura_anular',{ 'id': entity.id }) }}"><i class="fa fa-times-circle"></i> Anular Factura</a></li>
                    {% endif %}
                    {% if entity.estado  != 'AUTORIZADO'%}
                    <li class="divider"></li>
                    <li><a href="{{ path('factura_eliminar',{ 'id': entity.id }) }}"><i class="glyphicon glyphicon-trash"></i> Eliminar Factura</a></li>
                    {% endif %}

            </ul>
        </div>

    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid factura">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="col-sm-12 alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4><strong>Ha ocurrido un error!</strong></h4>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('confirm') %}
            <div class="col-sm-12 alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
        <div class="modal fade" id="send-email" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Enviar Email
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12 alert alert-info">
                            <p>Ingrese el email al cual desea enviar el documento. Para mas de un email separarlo por coma (,) ejemplo: email1@gmail.com,email2@gmail.com</p>
                        </div>
                        <form role="form" method="POST" action="{{ path('factura_enviar_email',{ 'id': entity.id }) }}" id="formEmail">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control"
                                       name="email" id="email" placeholder="Email separados por coma"/>
                            </div>
                            <button id="send" type="submit" class="btn btn-default">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if entity.mensajes | length >0  and entity.estado != "AUTORIZADO" %}
            <div class="col-sm-12 alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h5><strong>Errores ocurrido durante el proceso de envio al SRI!</strong></h5>
                {% for item in entity.mensajes %}
                    <p>{{item.mensaje}}</p>
                    <p>{{item.informacionAdicional}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <fieldset class="border col-sm-12">
            <legend class="border">Emisor</legend>
            <div class="control-group" id="emisor">
                <div class="col-sm-12"><p class="text-center"><strong>Ruc:</strong> {{entity.emisor.ruc}}</p></div>
                <div class="col-sm-12 col-md-6"><strong>Raz&oacute;n Social:</strong> {{entity.emisor.razonSocial}}</div>
                <div class="col-sm-12 col-md-6"><strong>Nombre Comercial:</strong> {%if entity.establecimiento.nombreComercial%}{{entity.establecimiento.nombreComercial}}{%else%}{{entity.emisor.nombreComercial}}{%endif%}</div>
                <div class="col-sm-12 col-md-6"><strong>Contribuyente Especial:</strong> {{entity.emisor.contribuyenteEspecial}}</div>
                <div class="col-sm-12 col-md-6"><strong>Obligado Contabilidad:</strong> {{entity.emisor.obligadoContabilidad}}</div>
                <div class="col-sm-12 col-md-6"><strong>Direcci&oacute;n Matriz:</strong> {{entity.emisor.direccionMatriz}}</div>
                <div class="col-sm-12 col-md-6"><strong>Direcci&oacute;n Establecimiento:</strong> {{entity.establecimiento.direccion}}</div>
            </div>
        </fieldset>

        <fieldset class="border  col-sm-12 ">
            <legend class="border">Comprobante</legend>
            <div class="control-group" id="comprobante">
                <div class="col-sm-12 col-md-6"><strong>Estado: </strong><strong><span class="{%if entity.estado == 'CREADA'%}creada{%elseif entity.estado == 'AUTORIZADO'%}autorizada{%else%} error {%endif%}">{{entity.estado}}</span></strong></div>
                <div class="col-sm-12 col-md-9"><strong>N&uacute;mero Autorizaci&oacute;n:</strong> {{entity.numeroAutorizacion}}</div>
                <div class="col-sm-12 col-md-6"><strong>Ambiente:</strong> {% if entity.ambiente == 1%} Pruebas {% else %} Producci&oacute;n {% endif %}</div>
                <div class="col-sm-12 col-md-6"><strong>Tipo Emisi&oacute;n:</strong> {% if entity.tipoEmision == 1%} Emisi&oacute;n Normal {% else %} Emisi&oacute;n por Indisponibilidad del Sistema {% endif %}</div>
                <div class="col-sm-12 col-md-6"><strong>Fecha Emisi&oacute;n:</strong>{{entity.fechaEmision |date('d/m/Y')}}</div>
                <div class="col-sm-12 col-lg-12">
                    <div> <label class="control-label">Forma Pago: </label> {{entity.formaPagoStr}}</div>
                    {%if entity.plazo %}
                        <div> <label class="control-label">Plazo: </label> {{entity.plazo}} Dias</div>
                    {% endif%}
                </div>
                <div class="col-sm-12"><p class="text-center"><strong>Clave Acceso</strong></p></div>
                <div class="col-sm-12 claveAcceso"><p class="text-center" >{{entity.claveAcceso}}</p></div>

            </div>
        </fieldset>

        <fieldset class="border col-sm-12">

            <legend class="border">Cliente</legend>

            <div class="form-group">
                <input type="text" id="id" class="form-control hidden" name="id">
                <div class="col-md-6">
                    <strong>Nombre: </strong>{{entity.cliente.nombre}}
                </div>
                <div class="col-md-6">
                    <strong>Celular: </strong>{{entity.cliente.celular}}
                </div>
                <div class="col-md-6">
                    <strong>Email: </strong>{{entity.cliente.correoElectronico}}
                </div>
                <div class="col-md-6">
                    <strong>Identificaci&oacute;n: </strong>{{entity.cliente.identificacion}}
                </div>
                <div class="col-md-6">
                    <strong>Direcci&oacute;n: </strong>{{entity.cliente.direccion}}
                </div>
            </div>
        </fieldset>
        <legend class="border">Productos</legend>
        <div class="dataTable_wrapper table-responsive col-lg-12">
            <table class="table table-striped table-bordered table-hover" id="productos">
                <thead>
                <thead>
                    <tr>
                        <th >Cantidad</th>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Total</th>
                        <th>ICE</th>
                        <th>IRBPNR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in entity.facturasHasProducto%}
                        <tr>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.codigoProducto}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.precioUnitario}}</td>
                            <td>{{item.descuento}}</td>
                            <td>{{item.valorTotal}}</td>
                            {% set ice = "0.00" %}
                            {% set irbpnr = "0.00" %}
                            {% for impuesto in item.impuestos %}
                                {% if impuesto.codigo == "3" %}
                                    {% set ice = impuesto.valor %}
                                {% endif %}

                                {% if impuesto.codigo == "5" %}
                                    {% set irbpnr = impuesto.valor %}
                                {% endif %}
                            {% endfor %}
                            <td>{{ ice }}</td>
                            <td>{{ irbpnr }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if entity.reembolsos | length > 0 %}
            <legend class="border">Reembolsos</legend>
            <div class="dataTable_wrapper table-responsive col-lg-12">
                <table class="table table-striped table-bordered table-hover" id="reembolsos">
                    <thead>
                    <thead>
                        <tr>
                            <th >Tipo Proveedor</th>
                            <th>Identificación</th>
                            <th>Estb.</th>
                            <th>Pto</th>
                            <th>Secuencial</th>
                            <th>Fecha</th>
                            <th>Número Autorización</th>
                            <th>Base 0%</th>
                            <th>Base 12%</th>
                            <th>IVA</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in entity.reembolsos%}
                            {% set impuestoReembolso = item.impuestoReembolso %}
                            {%set baseImponibleReembolso = item.baseImponibleReembolso %}
                            {%set baseImponibleSinIvaReembolso = item.baseImponibleSinIvaReembolso %}
                            <tr>
                                <td>{%if item.tipoProveedorReembolso == '01'%} PERSONA NATURAL {%else%} SOCIEDAD {%endif%}</td>
                                <td>{{item.identificacionProveedorReembolso}}</td>
                                <td>{{item.estabDocReembolso}}</td>
                                <td>{{item.ptoEmiDocReembolso}}</td>
                                <td>{{item.secuencialDocReembolso}}</td>
                                <td>{{item.fechaEmisionDocReembolso |date('d/m/Y') }}</td>
                                <td>{{item.numeroautorizacionDocReemb}}</td>
                                <td>{{item.baseImponibleSinIvaReembolso}}</td>
                                <td>{{item.baseImponibleReembolso}}</td>
                                <td>{{item.impuestoReembolso}}</td>
                                <td>{{(impuestoReembolso + baseImponibleReembolso + baseImponibleSinIvaReembolso) |round(2)}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {%endif%}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-8">

        <div class="col-xs-10 col-sm-8 text-right">SubTotal Sin Impuesto</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left" >{{entity.totalSinImpuestos}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Sub Total 12%</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.subtotal12}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Sub Total 0%</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.subtotal0}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Sub Total No Objeto IVA</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left" >{{entity.subtotalNoIVA}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Sub Exento IVA</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.subtotalExentoIVA}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Descuento</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.totalDescuento}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Valor ICE</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.valorICE}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Valor IRBPNR</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.valorIRBPNR}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">IVA 12%</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left">{{entity.iva12}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">Propina</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left" id="propina">{{entity.propina}}</p>
        </div>
        <div class="col-xs-10 col-sm-8 text-right">VALOR TOTAL</div>
        <div class="col-xs-2 col-sm-4">
            <p class="text-left" id="valorTotal">{{entity.valorTotal}}</p>
        </div>
    </div>
    {%if entity.totalSubsidio > 0 %}
        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-8" style="margin-top: 20px" id="subsidio">
            <div class="col-xs-10 col-sm-8 text-right">VALOR TOTAL SIN SUBSIDIO</div>
            <div class="col-xs-2 col-sm-4">
                <p class="" id="totalSinSubsidio">{{entity.totalSinSubsidio}}</p>
            </div>
            <div class="col-xs-10 col-sm-8 text-right">AHORRO POR SUBSIDIO</div>
            <div class="col-xs-2 col-sm-4">
                <p class="text-left" id="ahorroSubsidio">{{entity.totalSubsidio}}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascript %}
    <script>
        $('#send').click(function () {
            $('#send-email').modal('toggle');
        });
    </script>
{% endblock %}
